  <!-- Shared DX utilities - must load before modules that use them -->
  <script defer src="/js/utils/logger.js"></script>
  <script defer src="/js/utils/event-bus.js"></script>
  <script defer src="/js/utils/api-client.js"></script>
  <script defer src="/js/utils/dom-utils.js"></script>
