<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.ori.wt-away-tick</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>__ORI_AWAY_TICK_PATH__</string>
  </array>
  <key>StartInterval</key>
  <integer>1800</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>StandardOutPath</key>
  <string>__ORI_AWAY_STDOUT_PATH__</string>
  <key>StandardErrorPath</key>
  <string>__ORI_AWAY_STDERR_PATH__</string>
</dict>
</plist>
