{{define "plugin-page"}}
<!DOCTYPE html>
<html data-bs-theme="light" style="height: 100%;">
{{template "head.tmpl" .}}
<body style="margin: 0; height: 100%; display: flex; flex-direction: column; background: var(--bg-primary);">
  <!-- Navigation -->
  {{template "navbar.tmpl" .}}

  <main style="flex: 1 1 auto; min-height: 0; display: flex;">
    <iframe src="{{index .Extra "PluginPageURL"}}" title="{{index .Extra "PluginPageTitle"}}" style="flex: 1 1 auto; min-height: 0; width: 100%; border: 0;" loading="lazy"></iframe>
  </main>
</body>
</html>
{{end}}
